@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;500&display=swap');



.Article {
  margin: 1vw 5vw;
  margin-top: calc(200px + 2vw);
}
.Article_Header {
  margin: 0 0 24px 0;
  margin-bottom: calc(80px + 2vw);
}
.Article_Title {
  font-size: clamp(1.8rem, 1.629rem + 0.86vw, 2.4rem);
  line-height: 1.6;
  font-weight: 500;
  margin: 0 0 16px 0;
  padding: 0;
  font-family: 'Ghost','Noto Serif JP', "Helvetica Neue", Arial,
  "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-feature-settings: "palt" 1;
  -webkit-font-feature-settings: "palt" 1;
  font-kerning: normal;
}

@media (max-width: 960px) {
  .Article_Title {
    font-size: 1.8rem;
  }
} 
.Article_Avatar {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  overflow: hidden;
  margin: 0 12px 0 0;
  flex-shrink: 0;
  background: rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
}
.Article_Avatar img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  font-family: "object-fit: cover"; /* IE11 */
}
.Article_AuthorName {
  font-weight: bold;
  margin: 0 8px 0 0;
}

.Article_Body_Wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}

@media (max-width: 960px) {
  .Article_Body_Wrapper {
    display: block;
  }
  .Article_Data {
    margin-bottom: 30px;
  }
}

.Article_Data {
  display: flex;
  font-family: 'Ghost','Noto Sans JP',"Segoe UI Emoji", "Helvetica Neue", Arial,
  "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-size: clamp(1.2rem, 0.714rem + 0.43vw, 1.5rem);
  font-variant-numeric: oldstyle-nums; 
  grid-column: 1 / 3;
  margin-top: calc(0.2rem + 0.1vw);
}

.Article_Body {
  padding: 0 0 28px 0;
  grid-column: 3 / 9;
  font-size: clamp(1.4rem, 1.343rem + 0.29vw, 1.6rem);
  line-height: 1.8;
}

.Article_Body h2:first-child {
  margin-top: 0;
}
.Article_Body img {
  margin-top: calc(30px + 1vw);
  margin-bottom: calc(50px + 1vw);
}

@media (max-width: 960px) {
  .Article_Body {
    width: 100%;
  }
  .Article_Body img {
    margin-top: calc(30px + 1vw);
    margin-bottom: calc(30px + 1vw);
    margin: 0 calc(50% - 50vw);
    width: 100vw;
  }
}

.Article_Body h1 {
  font-size: 2.4rem;
  font-weight: 400;
  margin: 0 0 24px 0;
}
.Article_Body h2 {
  font-size: clamp(1.8rem, 1.743rem + 0.29vw, 2rem);
  font-weight: 500;
  margin: 100px 0 30px 0;
  font-family: 'Ghost','Noto Serif JP', "Helvetica Neue", Arial,
  "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}
.Article_Body h3 {
  font-family: 'Ghost','Noto Serif JP', "Helvetica Neue", Arial,
  "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-size: clamp(1.6rem, 1.527rem + 0.36vw, 1.8rem);
  font-weight: 500;
  margin: 0;
  margin-bottom: 10px;
}
.Article_Body h4 {
  font-size: 1.8rem;
}
.Article_Body h5 {  
  font-size: 1.6rem;
}
.Article_Body h6 {
  font-size: 1.4rem;
}
.Article_Body p {
  margin: 0 0 24px 0;
}

.Article_Body p {
  margin: 0 0 24px 0;
}


.Article_Body img {
  width: 100%;
  height: auto;
  display: block;
}
.Article_Body ul,
.Article_Body ol {
  margin: 0;
  padding: 0 0 16px 20px;
}
.Article_Body ul li,
.Article_Body ol li {
  margin: 0 0 4px 0;
  padding: 0;
}
.Article_Body ul li ul,
.Article_Body ul li ol,
.Article_Body ol li ol,
.Article_Body ol li ul {
  padding: 0 0 0 20px;
}
.Article_Body blockquote {
  border-left: 4px solid #ccc;
  padding: 0 0 0 40px;
  margin: 0 0 20px 0;
}
.Article_Body pre {
  background: #333;
  color: #fff;
  border-radius: 4px;
  padding: 16px 20px;
  margin: 0 0 20px 0;
  font-size: 1.4rem;
  line-height: 1.6;
  overflow: auto;
  font-family: "Segoe UI Emoji", "Helvetica Neue", Arial,
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}
.Article_Body code {
  border: 1px solid #ddd;
  background: #f8f8f8;
  border-radius: 4px;
  padding: 2px 4px;
  margin: 0 4px;
  color: #e01d5a;
  font-size: 1.4rem;
  font-family: "Segoe UI Emoji", "Helvetica Neue", Arial,
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}
.Article_Body pre code {
  border: none;
  background: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
  color: #fff;
}

.Article_Annotation {
  grid-column: 10 / 13;
  font-size: clamp(1rem, 0.886rem + 0.57vw, 1.4rem);
  color: #4D4D4D;
}
.Article_Annotation p {
  margin: 0;
  margin-bottom: 50px;
}

.Fav {
  display: flex;
  align-items: center;
}
.Fav_Button {
  border: none;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06), 0 3px 10px -8px rgba(0, 0, 0, 1);
  position: relative;
  cursor: pointer;
}
.Fav_Button:focus {
  outline: none;
}
.Fav_Button:focus::after {
  content: "";
  border: 2px solid #005fcc;
  position: absolute;
  left: 0;
  top: 0;
  width: 36px;
  height: 36px;
  border-radius: 20px;
  z-index: 0;
}
.Fav._on .Fav_Button:focus::after {
  border: 2px solid #e0245e;
}
.Fav_Button:hover > svg {
  fill: #888;
}
.Fav_Button:active {
  transform: scale(0.96);
}
.Fav_Button > svg {
  position: absolute;
  left: 12px;
  top: 12px;
  height: 18px;
  width: 16px;
  display: block;
  fill: #ccc;
  transition: fill 0.2s;
}
.Fav > em {
  font-style: normal;
  font-weight: bold;
  color: #888;
  margin: 0 0 0 12px;
}
.Fav._on .Fav_Button > svg {
  fill: #e0245e;
  transition: none;
}
.Fav._on > em {
  color: #e0245e;
}
.Author {
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  padding: 24px;
  display: flex;
  margin: 0 0 40px 0;
}
.Author_Avatar {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  overflow: hidden;
  margin: 0 16px 0 0;
  flex-shrink: 0;
  background: rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
}
.Author_Avatar img {
  width: 48px;
  height: 48px;
  object-fit: cover;
  font-family: "object-fit: cover"; /* IE11 */
}
.Author_Name {
  margin: 0 0 4px 0;
  padding: 0;
  font-weight: bold;
  line-height: 1.5;
}
.Author_Description {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 1.2rem;
}
.Author_Description p {
  margin: 0;
  padding: 0;
}

@media (max-width: 960px) {
  .Article_Body {
    width: 100%;
  }
  .Article_Body img {
    margin: 0 calc(50% - 50vw);
    margin-top: calc(30px + 1vw);
    margin-bottom: calc(30px + 1vw);
    width: 100vw;
  }
}
