@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;500&display=swap');

.Article {
  display: block;
  margin-bottom: calc(10px + 0.4vw);
}
.Article_Link {
  padding: 0;
  line-height: 1.5;
  color: #000000;
  text-decoration: none;
  display: inline-block;
}
/* .Article_Inner {
  display: block;
  margin-bottom: 10px;
} */
.Article_Title {
  font-size: clamp(1.8rem, 1.582rem + 1.09vw, 2.4rem);
  font-weight: 500;
  line-height: 1.8;
  font-family: 'Ghost','Noto Serif JP', "Helvetica Neue", Arial,
  "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  border-bottom: solid 1px #000000;
  margin-bottom: 10px;
  font-feature-settings: "palt" 1;
  -webkit-font-feature-settings: "palt" 1;
  font-kerning: normal;
  display: inline;
}

@media (max-width: 960px) {
  .Article {
    margin-bottom: 20px;
  }
  .Article_Title {
    font-size: 1.8rem;
  }
} 
/* .Article_Content {
  margin: auto 0 0 0;
  display: flex;
  align-items: center;
} */
.Article_Data {
  font-family: 'Ghost','Noto Sans JP', "Helvetica Neue", Arial,
  "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-size: clamp(1.2rem, 0.649rem + 0.76vw, 1.5rem);
  margin-top: calc(2px + 0.2vw);
  font-variant-numeric: oldstyle-nums; 
}
.Article_AuthorName {
  font-size: 1.2rem;
  font-weight: bold;
}
.Article_Fav {
  margin: 0 8px 0 auto;
  display: flex;
  align-items: center;
}
.Article_Fav > em {
  font-size: 1.2rem;
  font-style: normal;
  margin: 0 0 0 4px;
  color: #888;
}

/* @media (min-width: 600px) {
  .Article {
    margin: 0 12px 24px 0;
  }
  .Article:nth-child(2n) {
    margin: 0 0 24px auto;
  }
}

@media (min-width: 960px) {
  .Article {
    margin: 0 24px 24px 0;
  }
  .Article:nth-child(2n) {
    margin: 0 24px 24px 0;
  }
  .Article:nth-child(3n) {
    margin: 0 0 24px 0;
  }
} */
