.Footer {
  padding: 5vw 2vw;
  margin-top: 20vw;
  padding-bottom: 22vw;
  background-color: #fff;
  background-image: url(/bg_draw_crayon.jpg);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: top right;
}
.Footer_Inner {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}
.Footer_Text_block01 {
  grid-column: 1 / 4;
}
.Footer_Text_block02 {
  grid-column: 4 / 7;
}
.Footer_Text_block03 {
  grid-column: 7 / 10;
}
.Footer_Text_block04 {
  grid-column: 11 / 13;
}
ul.Footer_Text_Block {
  list-style: none;
  padding: 0;
  margin: 0;
}

li.Footer_Text_List {
  font-family: 'Ghost','Noto Serif JP', "Helvetica Neue", Arial,
  "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-size: clamp(1.2rem, 1.114rem + 0.43vw, 1.5rem);
  line-height: 2;
}

.SiteName {
  font-family: 'Ghost','Noto Serif JP', "Helvetica Neue", Arial,
  "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  display: flex;
  color: #000000;
  text-decoration: none;
  font-size: clamp(1.2rem, 1.114rem + 0.43vw, 1.5rem);
}
.SiteName:hover .SiteName_Text {
  text-decoration: underline;
}
.SiteName_Icon {
  font-size: 1.6rem;
  margin: 0 8px -2px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.SiteName_Icon img {
  width: 23px;
  height: 23px;
  object-fit: cover;
  font-family: "object-fit: cover"; /* IE11 */
  border-radius: 4px;
}
.SiteName_Text {
  font-size: clamp(1.2rem, 1.114rem + 0.43vw, 1.5rem);
}
.Footer_Text_Song {
  text-decoration: underline;
}
.Link {
  border-left: 1px solid #e5e5e5;
  padding: 0 0 0 16px;
  margin: 0 0 0 16px;
  line-height: 1.5;
}
.Link > a {
  color: #333;
  text-decoration: none;
}
.Link > a:hover {
  color: #333;
  text-decoration: underline;
}

@media (max-width: 960px) {
  .Footer {
    padding: 50px 20px;
    margin-top: 200px;
  }
  .Footer_Inner {
    display: block;
  }
  .Footer_Text_block03 {
    margin-top: 20px;
  }
  .Footer_Text_block04 {
    margin-top: 50px;
  }
}
