.Header {
  position: sticky;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 10;
  flex-shrink: 0;
  padding: 1vw 2vw;
}
.Sp {
  display:none;
}
@media (max-width: 960px) {
  .Header {
    padding: 20px 20px;
  }
  .Sp { 
    display:inline;
  }
}
.Header_Inner {
  min-width: 0;
  display: flex;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
}
.Title {
  display: flex;
  margin: 0 auto 0 0;
  align-items: center;
  min-width: 0;
  line-height: 1;
  color: #000000;
  text-decoration: none;
  font-family: 'Ghost','Noto Serif JP', "Helvetica Neue", Arial,
  "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}
.Title_Icon {
  width: 20px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  flex-shrink: 0;
  margin: 0 10px -2px 0;
}
.Title_Icon img {
  width: 26px;
  height: 26px;
  object-fit: cover;
  font-family: "object-fit: cover"; /* IE11 */
  border-radius: 4px;
}
.Title_Button {
  width: 34px;
  height: 34px;
  margin: 0 6px 0 0;
  border-radius: 4px;
  position: relative;
  background: none;
  flex-shrink: 0;
}
.Title_Button:hover {
  background: #f0f0f0;
}
.Title_Button:active {
  background: none;
  transition: none;
}
.Title_Button > svg {
  position: absolute;
  left: 13px;
  top: 11px;
}
.Title_Text_Underline {
  display: block;
  width: 10vw;
  border-bottom: solid 2px #000000;
  margin-right: 20px;
  height: calc(1rem + 0.2vw);
}

.Title_Text {
  margin: 0;
  padding: 0;
  font-size: clamp(2rem, 1.855rem + 0.73vw, 2.4rem);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: normal;
  font-feature-settings: "palt" 1;
  margin-left: -0.2rem;
}

@media (max-width: 960px) {
  .Title_Text {
    font-size: 2rem;
  }
}
.Header_About {
  font-family: 'Ghost','Noto Serif JP', "Helvetica Neue", Arial,
  "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-size: 1.5rem;
}
@media (max-width: 960px) {
  .Header_About {
    font-size: 1.2rem;
  }
}