.Articles {
  margin: 0 auto;
  padding: 1vw 2vw;
  margin-top: calc(200px + 2vw);
  background-image: url(/draw02.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center center;
}

.Articles_Inner_Wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  row-gap: 1em;
}
.Articles_Inner {
  grid-column: 3 / 13;
}
.Index_Text {
  grid-column: 1 / 3;
  font-family: "Ghost",'Noto Serif JP', sans-serif;
  font-size: clamp(1.2rem, 1.055rem + 0.73vw, 1.6rem);
}

@media (max-width: 960px) {
  .Articles {
    margin-top: 100px;
    padding: 20px 20px;
    background-image: url(/draw02sp.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center center;
  }
}

@media (max-width: 960px) {
  .Index_Text {
    font-size: clamp(1.4rem, 1.286rem + 0.57vw, 1.8rem);
  }
}

@media (max-width: 960px) {
  .Articles_Inner  {
    margin-top: 30px;
  }
}

@media (max-width: 960px) {
  .Articles_Inner_Wrapper {
    display: block;
  }
}